{% extends 'layout/basic.html' %}

{% block title %}{{ st.title }}{% endblock %}

{% block content %}
<div class="info_current">
    <img src="{{ st.img }}"  alt="qwe" class="avatar_current">
    <div class="info-text">
        <h2>{{ st.title }}</h2>
        <a href="{{st.publisher.get_absolute_url}}"><p>{{st.publisher}}</p></a>
        <p><a href="{% url 'by_genre' st.genre.pk %}">{{ st.genre }}</a></p>
        <p>{{ st.price }}</p>
        <form action="{% url 'cart:cart_add' st.pk %}" method="post">
            {{ cart_st_form }}
            {% csrf_token %}
            <input type="submit" value="В корзину">
        </form>
        <div class = 'content'>
            <p>{{ st.content }}</p>
        </div>
        <h1>Отзывы:</h1>
        {% for review in st.review_set.all %} 
            {% if review.body %}
                <strong>{{ review.owner }}</strong> 
                <p >{{ review.body }}</p>
                <p ><small>{{ review.created }}</small></p>
            {% endif %}
        {% endfor %}




        {% if request.user.profile.id in project.reviewers %}
        <p>Вы уже писали отзыв об этом проекте</p>

        {% elif request.user.profile == project.owner %}
        <p>Вы не можете оставлять отзывы к собственным проектам</p>

        {% elif request.user.is_authenticated %}
        <form class="form" action="{% url 'st-detail' st.slug %}" method="POST">
            {% csrf_token %}
            {% for field in form %}
            <div class="form__field">
                <label for="formInput#textarea">{{ field.label }}</label>
                {{field}}
            </div>
            {% endfor %}
            <input class="btn btn--sub btn--lg" type="submit" value="Добавить отзыв" />
        </form>
        {% else %}
        <a href="{% url 'login' %}?next={{ request.path }}">Войдите, чтобы оставить отзыв</a>
        {% endif %}






</div>
</div>
{% endblock %}
